[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
numpy = "*"
pandas = "*"

[dev-packages]
flake8 = "*"
jupyter = "*"
ipykernel = "*"
seaborn = "*"
matplotlib = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.0"
