[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
numpy = "*"
pandas = "*"
boto3 = "*"
prefect = "2.19.7 "
pyarrow = "*"
xgboost = "*"
scikit-learn = "*"

[dev-packages]
flake8 = "*"
jupyter = "*"
ipykernel = "*"
seaborn = "*"
matplotlib = "*"
pipenv-to-requirements = "*"
jedi-language-server = "*"
jupyterlab-lsp = "==5.1.0"
jupyter-lsp = "*"
jupyterlab-vim = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.0"
